{% load static %}
<h1>{{ article.title }}</h1>
<p class="text-muted">
    {{ article.views }} vues • {{ article.created_at|date:"d M Y" }}
</p>

{% if article.image %}
<img src="{{ article.image.url }}"
     alt="StarMediaBlog - {{ article.title }}"
     class="img-fluid"
     loading="lazy">
{% else %}
    <img src="{% static 'images/logo.png' %}" height="80" loading="lazy">
{% endif %}

<p>{{ article.content |safe }}</p>

<hr>

<h4>Commentaires</h4>

{% for comment in comments %}
<div class="mb-3">
    <strong>{{ comment.name }}</strong>
    <small>{{ comment.created_at }}</small>
    <p>{{ comment.content }}</p>
</div>
{% empty %}
<p>Aucun commentaire. Soyez le premier.</p>
{% endfor %}

<hr>

<h4>Laisser un commentaire</h4>

<form method="POST">
    {% csrf_token %}

    <div class="mb-3">
        {{ form.name }}
    </div>

    <div class="mb-3">
        {{ form.email }}
    </div>

    <div class="mb-3">
        {{ form.content }}
    </div>

    <button class="btn btn-primary">
        Publier le commentaire
    </button>

</form>

{% include "footer.html" %}